<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electric Scooter Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="container">
    <div class="heading">
        <h1>Scooter Recommendation</h1>
    </div>

    <div class="input-group">
        <label for="budget">Budget</label>
        <input type="number" id="budget" placeholder="Enter your budget">
    </div>

    <div class="input-group" >
        <label for="primary_use">Primary Use</label>
        <select id="primary_use">
            <option value="city">City</option>
            <option value="offroad">Offroad</option>
        </select>
    </div>

    <div class="input-group">
        <label for="usage_duration">Usage Duration</label>
        <select id="usage_duration">
            <option value="short">Short</option>
            <option value="long">Long</option>
        </select>
    </div>

    <div class="input-group">
        <label for="size_weight">Size/Weight</label>
        <select id="size_weight">
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
        </select>
    </div>

    <button onclick="getRecommendations()">Get Recommendations</button>

    <!-- Recommendations Div -->
    <div class="recommendations" id="recommendations" style="display:none;"></div>
</div>

<script>
    function getRecommendations() {
        const budget = document.getElementById('budget').value;
        const primary_use = document.getElementById('primary_use').value;
        const usage_duration = document.getElementById('usage_duration').value;
        const size_weight = document.getElementById('size_weight').value;

        const data = {
            budget: parseInt(budget),
            primary_use: primary_use,
            usage_duration: usage_duration,
            size_weight: size_weight
        };

        fetch('/recommend', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            const recommendationsDiv = document.getElementById('recommendations');
            recommendationsDiv.innerHTML = `
                <h3>Top 3 Recommendations:</h3>
                <ul>
                    ${data.map(item => `<li><i class="fas fa-motorcycle"></i> ${item}</li>`).join('')}
                </ul>`;
            recommendationsDiv.style.display = 'block';  // Show the recommendations div
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>

</body>
</html>
